attrs==19.3.0
catkin-pkg==0.4.16
defusedxml==0.6.0
distro==1.4.0
gnupg==2.3.1
more-itertools==8.2.0
numpy==1.18.2
packaging==20.3
pluggy==0.13.1
psutil==5.7.0
py==1.8.1
pycrypto==2.6.1
pyparsing==2.4.6
pyros-config==0.2.1
pyros-setup==0.3.0
pyrosenv==0.0.2
pytest==5.4.1
python-dateutil==2.8.1
PyYAML==5.3
rospkg==1.2.3
wcwidth==0.1.8
